<div class="sidebar-wrapper">
  <div class="header-wrapper">
    <img src="./assets/images/logo-icon.png" alt="logo-icon">
    <h1>Xtra Blog</h1>
  </div>
  <div class="content-main-wrapper">
    <ul>
      <li>
        <img src="./assets/images/home-icon.png" alt="home-icon">
        <a href="dashboard/home">
          Blog Home
        </a>
      </li>

      <li>
        <img src="./assets/images/single-post-icon.png" alt="single-post-icon">
        <a href="dashboard/single-post">
          Single Post
        </a>
      </li>

      <li>
        <img src="./assets/images/about-icon.png" alt="about-icon">
        <a href="dashboard/about">
          About Xtra
        </a>
      </li>

      <li>
        <img src="./assets/images/contacts-icon.png" alt="contacts-icon">
        <a href="dashboard/contacts">
          Contact Us
        </a>
      </li>
    </ul>
  </div>
  <div class="content-icons-wrapper">
    <ul>
      <li>
        <a href="https://uk-ua.facebook.com/" target="_blank">
          <img src="./assets/images/facebook-icon.png" alt="facebook-logo">
        </a>
      </li>

      <li>
        <a href="https://twitter.com/" target="_blank">
          <img src="./assets/images/twitter-icon.png" alt="twitter-logo">
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="./assets/images/instagram-icon.png" alt="instagram-logo">
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/" target="_blank">
          <img src="./assets/images/linkedin-icon.png" alt="linkedin-logo">
        </a>
      </li>
    </ul>
  </div>
</div>
