<div class="home-content-wrapper">
  <div class="home-section-wrapper">
    <div class="dividing-line"></div>
    <button class="new-button">New</button>
    <img src="./assets/images/450x320.jpg" alt="some-img">
    <h2>Simple and useful HTML layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut beatae dolorem dolorum earum et expedita,
      harum laboriosam laudantium molestias mollitia necessitatibus nesciunt, officiis placeat porro quos rem voluptatem
      voluptatum?
    </p>

    <div class="section-footer">
      <h4>Travel. Events</h4>
      <h4>June 24, 2020</h4>
    </div>
    <hr>
    <div class="section-footer">
      <p>36 comments</p>
      <p>by Admin Nat</p>
    </div>
  </div>

  <div class="home-section-wrapper">
    <div class="dividing-line"></div>
    <button class="new-button">New</button>
    <img src="./assets/images/450x320.jpg" alt="some-img">
    <h2>Simple and useful HTML layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut beatae dolorem dolorum earum et expedita,
      harum laboriosam laudantium molestias mollitia necessitatibus nesciunt, officiis placeat porro quos rem voluptatem
      voluptatum?
    </p>

    <div class="section-footer">
      <h4>Travel. Events</h4>
      <h4>June 24, 2020</h4>
    </div>
    <hr>
    <div class="section-footer">
      <p>36 comments</p>
      <p>by Admin Nat</p>
    </div>
  </div>

  <div class="home-section-wrapper">
    <div class="dividing-line"></div>
    <button class="new-button">New</button>
    <img src="./assets/images/450x320.jpg" alt="some-img">
    <h2>Simple and useful HTML layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut beatae dolorem dolorum earum et expedita,
      harum laboriosam laudantium molestias mollitia necessitatibus nesciunt, officiis placeat porro quos rem voluptatem
      voluptatum?
    </p>

    <div class="section-footer">
      <h4>Travel. Events</h4>
      <h4>June 24, 2020</h4>
    </div>
    <hr>
    <div class="section-footer">
      <p>36 comments</p>
      <p>by Admin Nat</p>
    </div>
  </div>

  <div class="home-section-wrapper">
    <div class="dividing-line"></div>
    <button class="new-button">New</button>
    <img src="./assets/images/450x320.jpg" alt="some-img">
    <h2>Simple and useful HTML layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut beatae dolorem dolorum earum et expedita,
      harum laboriosam laudantium molestias mollitia necessitatibus nesciunt, officiis placeat porro quos rem voluptatem
      voluptatum?
    </p>

    <div class="section-footer">
      <h4>Travel. Events</h4>
      <h4>June 24, 2020</h4>
    </div>
    <hr>
    <div class="section-footer">
      <p>36 comments</p>
      <p>by Admin Nat</p>
    </div>
  </div>

  <div class="home-section-wrapper">
    <div class="dividing-line"></div>
    <button class="new-button">New</button>
    <img src="./assets/images/450x320.jpg" alt="some-img">
    <h2>Simple and useful HTML layout</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut beatae dolorem dolorum earum et expedita,
      harum laboriosam laudantium molestias mollitia necessitatibus nesciunt, officiis placeat porro quos rem voluptatem
      voluptatum?
    </p>

    <div class="section-footer">
      <h4>Travel. Events</h4>
      <h4>June 24, 2020</h4>
    </div>
    <hr>
    <div class="section-footer">
      <p>36 comments</p>
      <p>by Admin Nat</p>
    </div>
  </div>

  <div class="home-section-wrapper">
    <div class="dividing-line"></div>
    <button class="new-button">New</button>
    <img src="./assets/images/450x320.jpg" alt="some-img">
    <h2>Simple and useful HTML layout</h2>
    <p>
      There is a clickable image with beautiful hover effect and active title link for each post item. Left side is a sticky menu bar. Right side is a blog content that will scroll up and down.
    </p>

    <div class="section-footer">
      <h4>Travel. Events</h4>
      <h4>June 24, 2020</h4>
    </div>
    <hr>
    <div class="section-footer">
      <p>36 comments</p>
      <p>by Admin Nat</p>
    </div>
  </div>
</div>
