<div class="contacts-content-wrapper">
  <div class="contacts-section-wrapper">
    <div class="dividing-line"></div>
    <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" class="main-iframe" allowfullscreen="" loading="lazy"></iframe>
    <h2>Contact Us</h2>

    <div class="contacts-form-wrapper">
      <div class="main-form-wrapper">
        <div class="input-wrapper">
          <h3>Name</h3>
          <input type="text">
        </div>
        <div class="input-wrapper">
          <h3>Email</h3>
          <input type="text">
        </div>
        <div class="input-wrapper">
          <h3>Subject</h3>
          <input type="text">
        </div>
        <div class="input-wrapper">
          <h3>Message</h3>
          <textarea rows="4"></textarea>
        </div>
        <div class="input-wrapper">
          <button>Submit</button>
        </div>
      </div>

      <div class="extra-info-wrapper">
        <p>120 Lorem ipsum dolor sit amet, consectetur adipiscing 10550</p>
        <p>Tel: 060-070-0980</p>
        <p>Email: info@company.com</p>
        <p>Maecenas eu mi eu dui cursus consequat non eu metus. Morbi ac turpis eleifend, commodo purus eget, commodo mauris.</p>

        <div class="content-icons-wrapper">
          <ul>
            <li>
              <a href="https://uk-ua.facebook.com/" target="_blank">
                <img src="./assets/images/facebook-icon.png" alt="facebook-logo">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" target="_blank">
                <img src="./assets/images/twitter-icon.png" alt="twitter-logo">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">
                <img src="./assets/images/instagram-icon.png" alt="instagram-logo">
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                <img src="./assets/images/linkedin-icon.png" alt="linkedin-logo">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="about-footer-wrapper">
      <p>Design: TemplateMo</p>
      <p>Copyright 2020 Xtra Blog Company Co. Ltd.</p>
    </div>
  </div>
</div>
