<div class="about-content-wrapper">
  <div class="about-section-wrapper">
    <div class="dividing-line"></div>
    <img src="./assets/images/1100x650.jpg" alt="some-img">
    <h2>About this xtra blog</h2>
    <p>
      You can immediately download Xtra Blog Template from TemplateMo website for 100% free of charge. Etiam vehicula, tortor ac eleifend tincidunt, diam neque pellentesque ipsum,
      a geugiat eros mauris eget lorem. Quisque in bibendum elit, in egestas turpis. Vestibulum ornare sollicitudin congue.
      Aliquam lorem mi, maximus at iaculis ut, viverra vel mauris. Duis congue luctus metus, sodales tincidunt lectus fringilla ut. Nunc tempus at magna sed vestibulum.
    </p>
    <p>
      Proin et arcu ligula. Praesent quis erat eu est solliditudin tristique ut in arcu. Donec bibendum ex id ligula semper dictum. Proin malesuada luctus auctor.
      Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in malesuada nulla magna ut enim. Morbi lacinia magna sed sapien auctor, vitae luctus nunc cursus.
    </p>

    <div class="three-blocks-wrapper">
      <div class="about-section-block">
        <h2>Background</h2>
        <p>Phasellus pulvinar nisl ornare leo porttitor, et vestibulum lorem semper. Duis risus ex, molestie sit amet magna in, pharetra pellentesque est. Curabitur elit metus.</p>
      </div>

      <div class="about-section-block">
        <h2>Teamwork</h2>
        <p>Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in malesuada nulla magna ut enim. Morbi lacinia magna sed auctor, vitae nunc cursus.</p>
      </div>

      <div class="about-section-block">
        <h2>Our Core Value</h2>
        <p>Nunc mi ante, suscipit vel dapibus et, volutpat sit amet ante. In tempor nec sem vitae varius. Aliquam tincidunt orci sem, et imperdiet massa consectetur nec.</p>
      </div>
    </div>

    <div class="dividing-line"></div>

    <div class="team-info-wrapper">
      <div class="person-info-wrapper">
        <div class="person-image-wrapper">
          <img src="./assets/images/person.jpg" alt="person">
        </div>
        <div class="person-text-wrapper">
          <h2>John Henry</h2>
          <h4>CEO/Founder</h4>
          <p>Aliquam non vulputate lectus, vel ultricies diam. Suspendisse at ipsum hendrerit, vestibulum mi id, mattis tortor.</p>
        </div>
      </div>

      <div class="person-info-wrapper">
        <div class="person-image-wrapper">
          <img src="./assets/images/person.jpg" alt="person">
        </div>
        <div class="person-text-wrapper">
          <h2>John Henry</h2>
          <h4>CEO/Founder</h4>
          <p>Aliquam non vulputate lectus, vel ultricies diam. Suspendisse at ipsum hendrerit, vestibulum mi id, mattis tortor.</p>
        </div>
      </div>

      <div class="person-info-wrapper">
        <div class="person-image-wrapper">
          <img src="./assets/images/person.jpg" alt="person">
        </div>
        <div class="person-text-wrapper">
          <h2>John Henry</h2>
          <h4>CEO/Founder</h4>
          <p>Aliquam non vulputate lectus, vel ultricies diam. Suspendisse at ipsum hendrerit, vestibulum mi id, mattis tortor.</p>
        </div>
      </div>

      <div class="person-info-wrapper">
        <div class="person-image-wrapper">
          <img src="./assets/images/person.jpg" alt="person">
        </div>
        <div class="person-text-wrapper">
          <h2>John Henry</h2>
          <h4>CEO/Founder</h4>
          <p>Aliquam non vulputate lectus, vel ultricies diam. Suspendisse at ipsum hendrerit, vestibulum mi id, mattis tortor.</p>
        </div>
      </div>
    </div>

    <div class="about-footer-wrapper">
      <p>Design: TemplateMo</p>
      <p>Copyright 2020 Xtra Blog Company Co. Ltd.</p>
    </div>
  </div>
</div>
