<div class="single-post-content-wrapper">
  <div class="single-post-section-wrapper">
    <div class="dividing-line"></div>
    <img src="./assets/images/1100x650.jpg" alt="some-img">

    <div class="text-blocks-wrapper">
      <div class="main-text-block-wrapper">
        <h2>Single Post of Xtra Blog HTML Template</h2>
        <h4>June 16, 2020 posted by Admin Nat</h4>
        <p>
          This is a description of the video post. You can also have an image instead of the video. You can free download Xtra Blog Template from TemplateMo website.
          Phasellus maximus quis est sit amet maximus. Vestibulum vel rutrum lorem, ac sodales augue. Aliquam erat volutpat. Duis lectus orci, blandit in arcu est, elementum tincidunt lectus.
          Praesent vel justo tempor, varius lacus a, pharetra lacus.
        </p>
        <p>
          Duis pretium efficitur nunc. Mauris vehicula nibh nisi. Curabitur gravida neque dignissim, aliquet nulla sed, condimentum nulla. Pellentesque id venenatis quam, id cursus velit.
          Fusce semper tortor ac metus iaculis varius. Praesent aliquam ex vel lectus ornare tristique. Nunc et eros quis enim feugiat tincidunt et vitae dui.
        </p>
        <h3 class="right-block">Creative . Design . Business</h3>
      </div>
      <div class="secondary-text-block-wrapper">
        <div class="dividing-line"></div>
        <h2>Categories</h2>
        <div class="center-text-block-wrapper">
          <h3>Visual Designs</h3>
          <h3>Travel Events</h3>
          <h3>Web Development</h3>
          <h3>Video and Audio</h3>
          <h3>Etiam auctor ac arcu</h3>
          <h3>Sed im justo diam</h3>
        </div>
      </div>
    </div>

  </div>
</div>
